[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/cozy-v2-interfaces"]
	path = lib/cozy-v2-interfaces
	url = https://github.com/Cozy-Finance/cozy-v2-interfaces
